<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>

        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title></title>
</head>
        <script src="/static/frontend/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/frontend/ext/dhtmlxscheduler_dhx_terrace.js" type="text/javascript" charset="utf-8"></script>

        <link rel="stylesheet" href="/static/frontend/dhtmlxscheduler_dhx_terrace.css" type="text/css" media="screen" title="no title" charset="utf-8">

        
    <style type="text/css" media="screen">
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            overflow: hidden;
        }
    </style>

      <script type="text/javascript" charset="utf-8">
         function init() {

            scheduler.config.CSRF_Token = "{{ csrf_token }}";

            scheduler.config.multi_day = true;
            scheduler.config.fix_tab_position = false; // tabs are positioned correctly, no need to fix it

            scheduler.config.xml_date = "%Y-%m-%d %H:%i";
            scheduler.init('scheduler_here', new Date(), "week");

            scheduler.templates.event_class = function (start, end, event) {
               if (start < (new Date())) //if date in past
                  return "past_event"; //then set special css class for it
            }

scheduler.parse([
     { start_date:"2013-5-1 6:00", end_date:"2013-5-1 8:00", text:"Event 1"},
     { start_date:"2013-5-2 6:00", end_date:"2013-5-2 8:00", text:"Event 2"}
],"json");
            //== ===========================
            // Events handling
            //=============================
            // disable events creation, only the properties of existent events can be edited
            scheduler.config.dblclick_create = false;
            scheduler.config.drag_create = false;

            var dp = new dataProcessor("frontend/dataprocessor");
            dp.setTransactionMode("POST", false)
            dp.init(scheduler);

         }
      </script>

<body onload="init();">
         <div id="calendar_content" style='width:50%; height:100%'>

<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab dhx_cal_tab_first" name="day_tab" style="left:14px;"></div>
        <div class="dhx_cal_tab" name="week_tab" style="left:75px;"></div>
        <div class="dhx_cal_tab dhx_cal_tab_last" name="month_tab" style="left:136px;"></div>
    </div>
    <div class="dhx_cal_header">
    </div>
    <div class="dhx_cal_data">
    </div>
</div>
</div>
</body>