<html>
<head>
	<title>Google Maps Latitude and Longitude Picker jQuery plugin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'frontend/demo.css' %}"/>
	<!-- Dependencies: JQuery and GMaps API should be loaded first -->
	<script src="{% static 'frontend/jquery-1.7.2.min.js' %}"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

	<!-- CSS and JS for our code -->
	<link rel="stylesheet" type="text/css" href="{% static 'frontend/jquery-gmaps-latlon-picker.css' %}"/>
	<script src="{% static 'frontend/jquery-gmaps-latlon-picker.js' %}"></script>
</head>
<body>

<form id="target2" action="/locdemo/" method="post">{% csrf_token %}
		Move the marker, double click on the map, search, or set new values to interact.


	New input: <input id="testfield1" type="text" value="fwef"/>
    <INPUT TYPE="submit" VALUE="Submit order">
</form>
	
</body>
</html>
