<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>{% load staticfiles %}

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" type="text/css" href="{% static "frontend/style.css" %}" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbkTcw7IQzJtELnuovVYEMDQg-zex6oG0&sensor=true">
    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static "frontend/oms.min.js" %}">
    </script>

    <script>
      <!-- autocomplete widget using jQuery -->
      $(function() {
      var availableTags = [
      "cos",
      "333",
      "oc",
      "music",
      "sports",
      "tv",
      "free",
      "money",
      "food",
      "arts",
      "dance",
      "acapella",
      "meeting",
      "group"
      ];
      function split( val ) {
      return val.split( /,\s*/ );
      }
      function extractLast( term ) {
      return split( term ).pop();
      }
      
      $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
      if ( event.keyCode === $.ui.keyCode.TAB &&
      $( this ).data( "ui-autocomplete" ).menu.active ) {
      event.preventDefault();
      }
      })
      .autocomplete({
      minLength: 0,
      source: function( request, response ) {
      // delegate back to autocomplete, but extract the last term
      response( $.ui.autocomplete.filter(
      availableTags, extractLast( request.term ) ) );
      },
      focus: function() {
      // prevent value inserted on focus
      return false;
      },
      select: function( event, ui ) {
      var terms = split( this.value );
      // remove the current input
      terms.pop();
      // add the selected item
      terms.push( ui.item.value );
      // add placeholder to get the comma-and-space at the end
      terms.push( "" );
      this.value = terms.join( ", " );
      return false;
      }
      });
      });
    </script>


    <script type="text/javascript">
      var map;
      var idled = false;
      var oms;
      var image = '{% static "frontend/paw_print.png" %}';
      var flower = '{% static "frontend/small_flower.png" %}';
      var geocoder;

      function initialize() {
      var center = new google.maps.LatLng(40.344725, -74.655629);
      geocoder = new google.maps.Geocoder();
      var mapOptions = {
      center: center,
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);
      oms = new OverlappingMarkerSpiderfier(map, {
      keepSpiderfied: true
      });

      var iw = new google.maps.InfoWindow();
      oms.addListener('click', function (marker) {
      iw.setContent(marker.desc);
      iw.open(map, marker);
      });

      oms.addListener('spiderfy', function (markers) {
      iw.close();
      for (i = 0; i < markers.length; i++) {
              markers[i].setIcon(image);
              }
              });

              oms.addListener('unspiderfy', function (markers) {
              iw.close();
              for (i = 0; i < markers.length; i++) {
                      markers[i].setIcon(flower);
                      }
                      });

                      google.maps.event.addListener(map, 'idle', function () {
                      if (!idled) {
                      var overlapped = oms.markersNearAnyOtherMarker();
                      for (i = 0; i < overlapped.length; i++) {
                              overlapped[i].setIcon(flower);
                              }
                              }
                              idled = true;
                              });

                              google.maps.event.addListener(map, 'click', function() {
                              iw.close();
                              });

                              {% if events_list %}
                              showEventsOnMap(); 
                              {% endif %}

                              {% if show_list == True %}
                              showContent('list_content');
                              {% endif %}
                              }
                              google.maps.event.addDomListener(window, 'load', initialize);

                              function showEventsOnMap() {

                              var i = 0; 
                              {% for event in events_list %} 
                              {% if event.lat %}
                              var position = new google.maps.LatLng({{event.lat}}, {{event.lon}});

                              var marker = new google.maps.Marker({
                              map: map,
                              position: position,
                              icon: image
                              });

                              var contentString = '<div class="infoWindow_content">' +
                              '<h3 class="infoWindow_heading">{{event.name}}</h3>' +
                              '<div id="infoWindow_body">' +
                              '<p>Time: {{event.time}} {{event.date}}</p>' +
                              '<p>Location: {{event.location}}</p>' +
                              '</div>' +
                              '</div>';

                              marker.desc = contentString;

                              oms.addMarker(marker); 
                              {% else %}
                              codeAddress("{{event.location}}");
                              {% endif %} 
                              {% endfor %}
                              }

                              function codeAddress(buildingName) {
                              geocoder.geocode( { 'address': buildingName }, function(results, status) {
                              if (status == google.maps.GeocoderStatus.OK) {
                              // map.setCenter(results[0].geometry.location);
                              var marker = new google.maps.Marker({
                              map: map,
                              position: results[0].geometry.location
                              });
                              var contentString = '<div class="infoWindow_content">' +
                              '<h3 class="infoWindow_heading">{{event.name}}</h3>' +
                              '<div id="infoWindow_body">' +
                              '<p>Time: {{event.time}} {{event.date}}</p>' +
                              '<p>Location: {{event.location}}</p>' +
                              '</div>' +
                              '</div>';

                              marker.desc = contentString;

                              oms.addMarker(marker);
                              } else {
                              //  alert("Geocode was not successful for the following reason: " + status);
                              }
                              }); 
                              }

                              function showContent(id) {
                              //alert(id);
                              var elem = document.getElementById('content_wrapper');
                              for (i = 0; i < elem.children.length; i++) {
                                      if (elem.children[i].id != id) {
                                      elem.children[i].className = 'hidden';
                                      } else {
                                      elem.children[i].className = (elem.children[i].className == 'hidden') ? 'visible' : 'hidden';
                                      if (id == "list_content" && elem.children[i].className == 'visible') makeList();
                                      }
                                      }
                                      }

                                      function makeList(){
                                      var parent = document.getElementById("list_inner_wrapper");
                                      var html = "";
                                      {% if events_list %}
                                      html += "<table class='list_table'>"
                                      var cur_date = "";
                                      var i = 0;
                                      {% for event in events_list %}
                                      if (i % 2 == 0) {
                                      row_class = "rowColor";
                                      } else {
                                      row_class = "";
                                      }
                                      i++;

                                      if ('{{event.date}}' != cur_date) {
                                      html += '<tr><td colspan="2"> <h3> {{event.date}} </h3></td></tr>';
                                      cur_date = '{{event.date}}';
                                      }
                                      html += '<tr class="'+ row_class
                                              + '"><td class="list_time" rowspan="2"> {{event.time}} </td>' 
                                      + '<td> {{event.name}} at <FONT COLOR="006633"><b> {{event.location}}</b></FONT> </td>'  
                                      + '<tr class="'+row_class+'"><td> <small>{{event.tags}}</small></td></tr>'
                                      {% endfor %}
                                      html += "</table>"
                                      {% else %}
                                      html += '<p>No events :(</p>';
                                      {% endif %}
                                      parent.innerHTML = html;
                                      }
                                      </script>
  </head>
  
  <body>
    <header>
      <h1>Princeton University - OC</h1>
    </header>

    <div id="side_panel">
      <h3>Filter</h3>

      <br/>
      <form action="{% url 'frontend:index' %}" method="post">{% csrf_token %}
        <input type="text" id="search_query" placeholder="Search" name="search_query" required>
        <input type="submit" value="Go">
      </form>
      <br/>
      <a href="{% url 'frontend:index' %}"> All </a>
      <br/>
      <br/>{{user}}
      <div id="time_slider">
        <h3>Time</h3>

        <input type="range">
      </div>
    </div>
    <div id="content_wrapper">
      <div id="list_content" class="hidden">

        <div id="list_inner_wrapper">
        </div>
      </div>

      <div id="make_content" class="hidden">
        <h3>Make Event</h3>

        <form action="/add/" method="post">{% csrf_token %}
          <label for = "id_name">Name:</label> 
          <input type="text" id="id_name" name="name" required>
          <label for = "id_date">Date:</label>
          <input type="date" id="id_date" name="date">
          <label for = "id_time">Time:</label>
          <input type="time" id="id_time" name="time">
          <label for = "id_location">Location:</label>
          <input type="text" id="id_location" name="location">
          <!--<div class="ui-widget">-->
          <label for="tags">Tags:</label>
          <input type="text" id="tags" name="tags" size="50" />
          <!--</div>-->
          <input type="submit" value="Submit">
        </form>
    
    <li>Login with <a rel="nofollow" href="{% url 'socialauth_begin' 'facebook' %}">Facebook</a>
    </li>
    <li>Import from Facebook
    </li>
      </div>

      <div id="calendar_content" class="hidden">
        <h3>Calendar</h3>
        <li><a rel="nofollow" href="{% url 'django_cas.views.login' %}">CAS</a>
        </li>
      </div>

      <div id="settings_content" class="hidden">
        <h3>Settings</h3>
      </div>
    </div>

    <div id="make_button" class="button" onclick="showContent('make_content');">
      <h3>Make</h3>

    </div>

    <div id="calendar_button" class="button" onclick="showContent('calendar_content');">
      <h3>Calendar</h3>

    </div>
    <div id="list_button" class="button" onclick="showContent('list_content');">
      <h3>List</h3>
    </div>
    <div id="settings_button" class="button" 
         onclick="window.location.href='/frontend/settings'">
      <h3>Settings</h3>

    </div>
    <div id="minus_button" class="button" onclick="showContent('none');">
      <h3>-</h3>

    </div>
    <div id="map-canvas" />
  </body>

</html>
