<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>{% load staticfiles %}

    {{ form.media }}

    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />-->
    <link rel="stylesheet" href="{% static "frontend/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static "frontend/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dhtmlxscheduler.css" %}" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbkTcw7IQzJtELnuovVYEMDQg-zex6oG0&sensor=true">
    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="{% static "frontend/bootstrap.min.js" %}"></script>
    <script src="{% static "frontend/dhtmlxscheduler.js" %}"></script>

    <script src="{% static "frontend/bootstrap-datepicker.js" %}"></script>

<!-- bootstrap stuff that doesn't work -->
    <script type="text/javascript">
      $('.datepicker').datepicker()({
      format: 'yyyy-mm-dd'
      });

    $('.test .typeahead').typeahead({                                   
  name: 'testTypeahead',                                                             
  local: [                                                                    
    "cos",                                                             
    "333",                                                                    
    "music",                                                                    
    "live",                                                                  
    "tv",                                                             
    "soccer",                                                                   
    "tennis",                                                             
    "football",                                                       
    "meeting",                                                                
    "frisbee"                                                                
  ]                                                                           
});
    </script>


    <!--<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>-->
    <script type="text/javascript" src="{% static "frontend/oms.min.js" %}">
    </script>

    <!-- web fonts for great justice -->
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">

    <!-- trying out some ajax, YOLO --> 
    <!--<script type="text/javascript" 
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
    <script type="text/javascript">

  jQuery(function() {
      var form = jQuery("#eventform");
      var tags = jQuery("#singleFieldTags");
      form.submit(function(e) {
          jQuery("#sendbutton").attr('disabled', true)
          jQuery("#sendwrapper").prepend('<span>Submitting event, please wait... </span>')
          jQuery("#ajaxwrapper").load(
              form.attr('action') + ' #ajaxwrapper',
              form.serializeArray(),
              function(responseText, responseStatus) {
                  jQuery("#sendbutton").attr('disabled', false)
                  jQuery("#eventform").trigger("aCustomEvent")
              }
          );
          e.preventDefault(); 
      });
  });
  
  setInterval( "reloadEvents()", 60000);
  
  function reloadEvents ()
  {
  	$.ajax({
  		  type: "POST",
  		  url: "~/pythoncode.py",
  		  data: { param: text}
  	}).done(function( o ) {
   		// do something
	});
  }

  </script>



  <!--the older autocomplete-->
  <!-- INSTRUCTIONS -->

    <!-- 2 CSS files are required: -->
    <!--   - Tag-it's base CSS (jquery.tagit.css). -->
    <!--   - Any theme CSS (either a jQuery UI theme such as "flick", or one that's bundled with Tag-it, e.g. tagit.ui-zendesk.css as in this example.) -->
    <!-- The base CSS and tagit.ui-zendesk.css theme are scoped to the Tag-it widget, so they shouldn't affect anything else in your site, unlike with jQuery UI themes. -->
    <link href="{% static "frontend/jquery.tagit.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "frontend/ui-autocomplete-tag-it.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "frontend/tagit.ui-zendesk.css" %}" rel="stylesheet" type="text/css">
    <!-- If you want the jQuery UI "flick" theme, you can use this instead, but it's not scoped to just Tag-it like tagit.ui-zendesk is: -->
    <!--<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">-->

    <!-- jQuery and jQuery UI are required dependencies. -->
    <!-- Although we use jQuery 1.4 here, it's tested with the latest too (1.8.3 as of writing this.) -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>-->

    <!-- The real deal -->
    <!--<script src="https://raw.github.com/aehlke/tag-it/master/js/tag-it.js" type="text/javascript" charset="utf-8"></script>-->

      <script type="text/javascript">
         var map;
         var idled = false;
         var oms;
         var single_pin = '{% static "frontend/paw_print.png" %}';
         var multi_pin = '{% static "frontend/small_shield.png" %}';
         var geocoder;

         function initialize() {
            var center = new google.maps.LatLng({{center_lat}}, {{center_lon}});
            geocoder = new google.maps.Geocoder();
            var mapOptions = {
               center: center,
               zoom: 17,
               mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map-canvas"),
               mapOptions);
            oms = new OverlappingMarkerSpiderfier(map, {
               keepSpiderfied: true
            });

            var iw = new google.maps.InfoWindow();
            oms.addListener('click', function (marker) {
               iw.setContent(marker.desc);
               iw.open(map, marker);
            });

            oms.addListener('spiderfy', function (markers) {
               iw.close();
               for (i = 0; i < markers.length; i++) {
                  markers[i].setIcon(single_pin);
               }
            });

            oms.addListener('unspiderfy', function (markers) {
               iw.close();
               for (i = 0; i < markers.length; i++) {
                  markers[i].setIcon(multi_pin);
               }
            });

            google.maps.event.addListener(map, 'idle', function () {
               if (!idled) {
                  var overlapped = oms.markersNearAnyOtherMarker();
                  for (i = 0; i < overlapped.length; i++) {
                     overlapped[i].setIcon(multi_pin);
                  }
               }
               idled = true;
            });

            google.maps.event.addListener(map, 'click', function () {
               iw.close();
            });

            {#% if events_list %#}
            showEventsOnMap(); 
            {#% endif %#}

            {% if show_list == True %}
            showContent('list_content'); 
            {% endif %}
         }
         google.maps.event.addDomListener(window, 'load', initialize);

         function showEventsOnMap() {

            var i = 0; 
            {% for event in events_list %} 
            {% if event.lat %}
            var position = new google.maps.LatLng(
              {{event.lat}}, {{event.lon}});

            var marker = new google.maps.Marker({
               map: map,
               position: position,
               icon: single_pin
            });

            var contentString = '<div class="infoWindow_content">' +
               '<h3 class="infoWindow_heading">{{event.name}}</h3>' +
               '<div id="infoWindow_body">' +
               '<p>Time: {{event.startTime|date:"D d M Y H:i"}}</p>' +
               '<p>Location: {{event.location}}</p>' +
               '</div>' +
               '</div>';

            marker.desc = contentString;

            oms.addMarker(marker); 
            {% else %}
            codeAddress("{{event.location}}"); 
            {% endif %} 
            {% endfor %}
         }

         function codeAddress(buildingName) {
            geocoder.geocode({
               'address': buildingName
            }, function (results, status) {
               if (status == google.maps.GeocoderStatus.OK) {
                  // map.setCenter(results[0].geometry.location);
                  var marker = new google.maps.Marker({
                     map: map,
                     position: results[0].geometry.location
                  });
                  var contentString = '<div class="infoWindow_content">' +
                     '<h3 class="infoWindow_heading">{{event.name}}</h3>' +
                     '<div id="infoWindow_body">' +
                     '<p>Time: {{event.startTime|date:"D d M Y H:i"}}</p>' +
                     '<p>Location: {{event.location}}</p>' +
                     '</div>' +
                     '</div>';

                  marker.desc = contentString;

                  oms.addMarker(marker);
               } else {
                  //  alert("Geocode was not successful for the following reason: " + status);
               }
            });
         }

         function showContent(id) {
            var elem = document.getElementById('content_wrapper');
            for (i = 0; i < elem.children.length; i++) {
               if (elem.children[i].id != id) {
                  elem.children[i].className = 'hidden';
               } else {
                  elem.children[i].className = (elem.children[i].className == 'hidden') ? 'visible' : 'hidden';
                  if (id == "list_content" && elem.children[i].className == 'visible') makeList();
               }
            }
         }

         function makeList() {
            var parent = document.getElementById("list_inner_wrapper");
            var html = ""; 
            {% if events_list %}
            html += "<table class='list_table'>"
            var cur_date = "";
            var i = 0; 
            {% for event in events_list %}
            if (i % 2 == 0) {
               row_class = "rowColor";
            } else {
               row_class = "";
            }
            i++;
            if ('{{event.startTime|date:"D d M Y"}}' != cur_date) {

               html += '<tr><td colspan="2"> <h3> {{event.startTime|date:"D d M Y"}} </h3></td></tr>';
               cur_date = '{{event.startTime|date:"D d M Y"}}';
            }
            html += '<tr class="' + row_class + '"><td class="list_time" rowspan="2"> {{event.startTime|date:"H:i"}} - {{event.endTime|date:"H:i"}}</td>' + '<td> {{event.name}} at <FONT COLOR="006633"><b> {{event.location}}</b></FONT>'
              + '<div style="float:right">'
            html += '<a href="{#% url "frontend:addrsvp" event.id %#}">RSVP</a></div>'
              + ' </td>' + '<tr class="' + row_class + '"><td> <small>{{event.tags}}</small></td></tr>' 
            {% endfor %}
            html += "</table>"; 
            {% else %}
            html += '<p>No events :(</p>'; 
            {% endif %}
            parent.innerHTML = html;
         }
      </script>

      <script type="text/javascript" charset="utf-8">
         function init() {

            scheduler.config.CSRF_Token = "{{ csrf_token }}";

            scheduler.config.xml_date = "%Y-%m-%d %H:%i";
            scheduler.init('scheduler_here', new Date(2011, 0, 25), "month");

            //define how text inside event bar looks
            scheduler.templates.event_text = function (start, end, event) {
               return "Text:<b> " + event.text + "</b><br>" + "Descr." + event.details;
            }

            scheduler.templates.event_class = function (start, end, event) {
               if (start < (new Date())) //if date in past
                  return "past_event"; //then set special css class for it
            }

            scheduler.load("/eventsXML");

            var dp = new dataProcessor("frontend/dataprocessor");
            dp.setTransactionMode("POST", false)
            dp.init(scheduler);

         }
      </script>

      <style type="text/css" media="screen">
         /*event in day or week view*/
         .dhx_cal_event.past_event div {
            background-color:purple !important;
            color:white !important;
         }
         /*multi-day event in month view*/
         .dhx_cal_event_line.past_event {
            background-color:purple !important;
            color:white !important;
         }
         /*event with fixed time, in month view*/
         .dhx_cal_event_clear.past_event {
            color:purple !important;
         }
      </style>

      <!-- jQuery bootstrap stylesheets -->
    <link rel="stylesheet" href="{% static "frontend/jquery-ui-1.9.2.custom.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "frontend/jquery-ui-1.10.0.custom.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "frontend/jquery.ui.1.9.2.ie.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "frontend/jquery.ui.1.10.0.ie.css" %}" type="text/css">

   </head>
   
   <body onload="init();">
      <header>
         <div class="logo" onclick="window.location.href='/'">
            <h1>Princeton University - OC</h1>
         </div>
         <div id="floatright">
            <div class="settings_buttons" onclick="window.location.href='/frontend/personal'">{{user}}</div>
            <div class="settings_buttons" onclick="window.location.href='/frontend/settings'">settings</div>
            <div class="settings_buttons" onclick="window.location.href='/'">logout</div>
         </div>
      </header>
      <div id="side_panel">
          <h3>Filter</h3>

         <br/>
        <form action="{% url 'frontend:index' %}" method="post" class="form-search">{% csrf_token %}
        <input type="text" id="search_query" placeholder="Search..." name="search_query" class="input-medium search-query">
        <!--above field formerly required-->
        <div class="clearfix"> <br />  </div>
        <button type="submit" class="btn">Search</button>
      </form>
      <br/>
         
         <form action="{% url 'frontend:index' %}" method="post">{% csrf_token %}
            {% for tag in tags %}
            <input type="checkbox" name="tags" value="{{tag}}">{{tag}}</br> 
            {% endfor %}
         </form>

         <br/> <a href="{% url 'frontend:index' %}"> All </a>

         <div id="time_slider">
             <h3>Time</h3>

            <input type="range">
         </div>
      </div>
    </div>

    <div id="content_wrapper">

      <div id="list_content" class="hidden">
       <div id="list_inner_wrapper">
                </div>
            </div>

      <div id="make_content" class="hidden">
        <h3>Make Event</h3>
{{form.media}}
<form action="/add/" method="post" id="eventform" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    <div id="ajaxwrapper">
    <div class="control-group {% if form.name.errors %}error{% endif %}">
        <label class="control-label" for="id_name">Name:</label>
        <div class="controls">
        {{ form.name }}
        <span class="help-block">{{ form.name.errors }}</span>
        </div>
    </div>
    <div class="control-group {% if form.startTime.errors %}error{% endif %}">
        <label class="control-label" for="id_startTime">Start:</label>
        <div class="controls">
        {{ form.startTime }}
        <span class="help-block">{{ form.startTime.errors }}</span>
        </div>
    </div>
   <div class="control-group {% if form.endTime.errors %}error{% endif %}">
        <label class="control-label" for="id_endTime">End:</label>
        <div class="controls">
        {{ form.endTime }}
        <span class="help-block">{{ form.endTime.errors }}</span>
        </div>
    </div>
   <div class="control-group {% if form.location.errors %}error{% endif %}">
        <label class="control-label" for="id_location">Location:</label>
        <div class="controls">
        {{ form.location }}
        <span class="help-block">{{ form.location.errors }}</span>
        </div>
    </div>
    <div class="control-group {% if form.description.errors %}error{% endif %}">
        <label class="control-label" for="id_description">Description:</label>
        <div class="controls">
        {{ form.description }}
        <span class="help-block">{{ form.description.errors }}</span>
        </div>
    </div>
   <div class="control-group {% if form.private.errors %}error{% endif %}">
        <label class="control-label" for="id_private">Private:</label>
        <div class="controls">
        {{ form.private }}
        <span class="help-block">{{ form.private.errors }}</span>
        </div>
    </div>
   <div class="control-group {% if form.groups.errors %}error{% endif %}">
        <label class="control-label" for="id_groups">Groups:</label>
        <div class="controls">
        {{ form.groups }}
        <span class="help-block">{{ form.groups.errors }}</span>
        </div>
    </div>
   <div class="control-group {% if form.tags.errors %}error{% endif %}">
        <label class="control-label" for="id_tags">Tags:</label>
        <div class="controls">
        {{ form.tags }}
        <span class="help-block">{{ form.tags.errors }}</span>
        </div>
    </div>
    <p><button class="btn btn-primary" type="submit">Save</button></p>
  </div>
</form>

            <li>Login with <a rel="nofollow" href="{% url 'socialauth_begin' 'facebook' %}">Facebook</a>

            </li>
            <li>Import from Facebook</li>
            <li><a rel="nofollow" href="{% url 'django_cas.views.login' %}">CAS</a>

            </li>
         </div>
         <div id="calendar_content" class="hidden">
             <h3>Calendar</h3>
            <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:80%;'>
               <div class="dhx_cal_navline">
                  <div class="dhx_cal_prev_button">&nbsp;</div>
                  <div class="dhx_cal_next_button">&nbsp;</div>
                  <div class="dhx_cal_today_button"></div>
                  <div class="dhx_cal_date"></div>
                  <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                  <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                  <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
               </div>
               <div class="dhx_cal_header"></div>
               <div class="dhx_cal_data"></div>
            </div>
         </div>
         <div id="settings_content" class="hidden">
             <h3>Settings</h3>

         </div>
      </div>
      <div id="make_button" class="button" onclick="showContent('make_content');">
          <h3>Make</h3>
      </div>

    <div id="calendar_button" class="button" onclick="showContent('calendar_content');">
      <script>
  {% if make_visible %}
  showContent('make_content');
  {% endif %}
  </script>
      <h3>Calendar</h3>
    </div>
    
    <div id="list_button" class="button" onclick="showContent('list_content');">
      <h3>List</h3>
    </div>
    
    <div id="minus_button" class="button" onclick="showContent('none');">
      <h3>-</h3>
    </div>

    <div id="map-canvas" style="width:100%;height:100%;"></div>
  </body>
</html>
