<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>{% load staticfiles %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="{% static "frontend/bootstrap.js" %}"></script>

    <link rel="stylesheet" href="{% static "frontend/bootstrap.min.css" %}" type="text/css"> 
    <link rel="stylesheet" type="text/css" href="{% static "frontend/style.css" %}" />
    <link href="{% static "frontend/jquery.tagit.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "frontend/tag-it.min.js" %}" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <!--<link href="{% static "frontend/jquery.tagit.css" %}" rel="stylesheet" type="text/css">-->
    <link href="{% static "frontend/ui-autocomplete-tag-it.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "frontend/tagit.ui-zendesk.css" %}" rel="stylesheet" type="text/css">


      <!-- jQuery bootstrap stylesheets -->
    <link rel="stylesheet" href="{% static "frontend/jquery-ui-1.9.2.custom.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "frontend/jquery-ui-1.10.0.custom.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "frontend/jquery.ui.1.9.2.ie.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "frontend/jquery.ui.1.10.0.ie.css" %}" type="text/css">

    <script type="text/javascript">
      $(document).ready(function() {
        var availableTags = {{all_users|safe}}
        $("#groups_form #id_member_names").tagit({
          availableTags: availableTags,
          beforeTagAdded: function(event, ui) { 
          // only allow existing values
          if($.inArray(ui.tagLabel, availableTags)==-1) {
            return false;
          }
        }
        });

      });
    </script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- The real deal -->
     <script src="{% static "frontend/tag-it.min.js" %}" type="text/javascript" charset="utf-8"></script>
 
 <script>
        $("#eventform").live("aCustomEvent",function(){
            var sampleTags = ['cos', '333', 'music', 'needs', 'database', 'integration'];

            names = []

            {% for tag in tags %}
               names.push("{{tag}}");
            {% endfor %}

            //-------------------------------
            // Minimal
            //-------------------------------
            $('#myTags').tagit();

            //-------------------------------
            // Single field
            //-------------------------------
            $('#singleFieldTags').tagit({
                availableTags: names,
                // This will make Tag-it submit a single form value, as a comma-delimited field.
                singleField: true,
                singleFieldDelimiter: " ",
                singleFieldNode: $('#id_tags')
            });

            // singleFieldTags2 is an INPUT element, rather than a UL as in the other 
            // examples, so it automatically defaults to singleField.
            $('#singleFieldTags2').tagit({
                availableTags: sampleTags
            });

            //-------------------------------
            // Preloading data in markup
            //-------------------------------
            $('#myULTags').tagit({
                availableTags: sampleTags, // this param is of course optional. it's for autocomplete.
                // configure the name of the input field (will be submitted with form), default: item[tags]
                itemName: 'item',
                fieldName: 'tags'
            });

            //-------------------------------
            // Tag events
            //-------------------------------
            var eventTags = $('#eventTags');

            var addEvent = function(text) {
                $('#events_container').append(text + '<br>');
            };

            eventTags.tagit({
                availableTags: sampleTags,
                beforeTagAdded: function(evt, ui) {
                    if (!ui.duringInitialization) {
                        addEvent('beforeTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
                    }
                },
                afterTagAdded: function(evt, ui) {
                    if (!ui.duringInitialization) {
                        addEvent('afterTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
                    }
                },
                beforeTagRemoved: function(evt, ui) {
                    addEvent('beforeTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
                },
                afterTagRemoved: function(evt, ui) {
                    addEvent('afterTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
                },
                onTagClicked: function(evt, ui) {
                    addEvent('onTagClicked: ' + eventTags.tagit('tagLabel', ui.tag));
                },
                onTagExists: function(evt, ui) {
                    addEvent('onTagExists: ' + eventTags.tagit('tagLabel', ui.existingTag));
                }
            });

            //-------------------------------
            // Read-only
            //-------------------------------
            $('#readOnlyTags').tagit({
                readOnly: true
            });

            //-------------------------------
            // Tag-it methods
            //-------------------------------
            $('#methodTags').tagit({
                availableTags: sampleTags
            });

            //-------------------------------
            // Allow spaces without quotes.
            //-------------------------------
            $('#allowSpacesTags').tagit({
                availableTags: sampleTags,
                allowSpaces: true
            });

            //-------------------------------
            // Remove confirmation
            //-------------------------------
            $('#removeConfirmationTags').tagit({
                availableTags: sampleTags,
                removeConfirmation: true
            });

            alwaysOn();
            
        });
        
    </script>

     <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->

    <title>OC</title>
</head>
<body onload="updateNotifications();">
  <div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
      <div class="container">  
        <ul class="nav pull-left">  
          <li>  
            <a class="brand logo" href="{% url 'frontend:index' %}" >Princeton University - OC</a>  
          </li>
        </ul>
        <ul class="nav pull-right">  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="notifications">
            </ul>
          </li>
          <li class=""><a href="#">{{user}}</a></li>  
          <li><a href="{% url 'frontend:settings' %}">Settings</a></li>  
          <li><a href="{% url 'frontend:logout' %}">Logout</a></li>  
        </ul>
      </div>
    </div>
  </div>
<div class="clear"></div>
  <div id="personal_container">
      <div class="clear"></div>
      <div id="personal_content">
        <div id="left">
         <div class="personal_headings active" id="my_events">
              <div class="events_header"><span class="toggle_button">-</span> Your Events:</div>
              <div class="list_group">

                {% for e in my_events %}
                <div class="events_item" id="{{e.id}}">
                  <p> {{ e.name }}

                        <a class="link_button" id="edit_link" href="#" onclick="edit_form({{e.id}})"> Edit </a>
                        <a class="link_button" href="{% url 'frontend:rmevent' e.id %}">Remove</a>
            			{% if e.exported %}
            			<span class="link_button"> Exported! </span>
            			{% else %}
            		        <a class="link_button" href="{% url 'frontend:export_event' e.id %}"> Export </a>
            			{% endif %}

		              </p>
                </div>
              {% endfor %}
              </div>
          </div>

          <div class="personal_headings active" id="invites">
            <div class="events_header"><span class="toggle_button">-</span> Invitations:</div>
            <div class="list_group">

              {% for i in invites %}

                <div class="events_item" id="{{e.id}}">
                          <a class="link_button" href="#" class="'+rsvp_class+'" onclick="rsvp({{e.id}})" id="rsvp_{{e.id}}">RSVP</a>

                <p> {{ i.event.name }} </p>
                <p>
                <small>{{i.invitee.first_name}} invited you. </small>
                </p>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="personal_headings active" id="rsvped">
            <div class="events_header"><span class="toggle_button">-</span> Attending:</div>
            <div class="list_group">

              {% for e in rsvped %}

                <div class="events_item" id="{{e.id}}">
                <p> {{ e.name }}<a class="link_button" href="{% url 'frontend:rmrsvp' e.id %}">Leave</a></p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="personal_headings active" id="recommended">
            <div class="events_header"><span class="toggle_button">-</span> Recommended Events (Friends/Groups): </div>
            <div class="list_group">

              {% for e in recommended %}
                <div class="events_item" id="{{e.id}}">
                <p> {{ e.name }}
                <a class="link_button" href="#" class="'+rsvp_class+'" onclick="rsvp({{e.id}})" id="rsvp_{{e.id}}">RSVP</a>
                </p>
              </div>
              {% endfor %}
          </div>
          </div>

          <div class="personal_headings" id="friends">
            <div class="events_header"><span class="toggle_button">+</span> Friends:</div>
            <div class="list_group hidden">

              {% for f in friends %}
              <div class="friends_item">
                <p> {{ f.first_name }} <a class="link_button" href="{% url 'frontend:rmfriend' f.id %}">Remove</a></p>
              </div>
              {% endfor %}
            <div id="friends_form">
              <form action="/addfriend/" method="post">{% csrf_token %}
                Add friend: 
                {{ form2.name }}
              <button class="btn" type="submit" style="vertical-align:top">Add</button>
              </form>
            </div>
            Import from Facebook:
            <select multiple="multiple" id="facebook_friends">
              {% for f in fb_friends %}
              <option class="fb_friend" value="{{f.id}}">
                <p> {{ f.name }} </p>
              </option>
              {% endfor %}
            </select>
          </div>

          </div>

          <div class="personal_headings" id="groups">
            <div class="events_header"><span class="toggle_button">+</span> Your existing groups:</div>
            <div class="list_group hidden">

              {% for g in groups_list %}
              <div class="groups_item" id="{{g.id}}">
                <p> {{ g.name }} <a class="link_button" href="{% url 'frontend:rmgroup' g.id %}">Leave</a></p>
              </div>
              {% endfor %}
            <div id="groups_form">
              <form action="/addgroup/" method="post">{% csrf_token %}
               Add group: 
              {{ form.as_p }}
              <button class="btn" type="submit">Add</button>
              </form>
            </div>

            <div id="import_groups_form">
            Import from Facebook:
            <div style="width:75%; height:50px; overflow:scroll; background-color: white; padding:5px; border-radius:3px; border: 1px solid #ccc;">
              {% for g in fb_groups %}
            <p>{{g.name}} 
            <a class="link_button" href="{% url 'frontend:importgroup' g.id %}">Import</a>
            </p>
              {% endfor %}
            </div>
              </div>
            </div>

          </div>
        </div>
        <div id="right">
          <div id="more" class="hidden">
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        names = []

        {% for u in other_users %}
          names.push("{{u.user_id}}");
        {% endfor %}
        $("#id_name").autocomplete({
          source: names
        });
      })

      $(".events_item").click(function() {
        $(".events_item").removeClass("active");
        $(".groups_item").removeClass("active");
        $(this).addClass("active");

        var id = parseInt($(this).attr("id"));
        {% for e in events_list %}

          if (id == {{e.id}}) {
            $.post('{% url "frontend:personal_ajax" e.id %}', {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(htmlResponse) {
                var parent = document.getElementById("more");
                $("#more").removeClass("hidden");

                parent.innerHTML = htmlResponse;
            });
          }
        {% endfor %}
      }).find("#edit_link").click(function(e){
        return false;
      });

      $(".personal_headings").click(function(e) {
        if(e.target != this && e.target.className != "events_header" && e.target.className != "toggle_button") return;
        if ($(this).hasClass("active")) {
          $(this).removeClass("active");
          $(this).find(".events_header").find(".toggle_button").html("+");
          $(this).find(".list_group").addClass("hidden");
        } else {
          $(this).addClass("active");
          $(this).find(".list_group").removeClass("hidden");
          $(this).find(".events_header").find(".toggle_button").html("-");
        }
      });

      $(".groups_item").click(function() {
        $(".groups_item").removeClass("active");
        $(".events_item").removeClass("active");
        $(this).addClass("active");
        var id = parseInt($(this).attr("id"));

        {% for g in groups_list %}
          if (id == {{g.id}}) {
                var parent = document.getElementById("more");
                $("#more").removeClass("hidden");

                html = "{{g.name}} :";
                {% for u in g.users.all %}
                  html += " {{u.first_name}}"
                {% endfor %}
                html += "<div id='edit_groups_form'><form action='/addgroup/' method='post' id='edit_group_form'>{% csrf_token %}"
                      + "<p> Add user: </p><div class='hidden'>"+'{{form.group_name}}</div>{{form.member_names}}'+ "<button type='submit' value='Submit' class='btn' style='vertical-align:top'>Add</button>"
                      + "</form></div>"
                parent.innerHTML = html;
                $("#edit_groups_form #id_group_name").attr('value','{{g.name}}')
                var availableTags = {{all_users|safe}}


                $("#edit_groups_form #id_member_names").tagit({
                  availableTags: availableTags,
                 beforeTagAdded: function(event, ui) { 
                   // only allow existing values
                   if($.inArray(ui.tagLabel, availableTags)==-1) {
                    return false;
                   }
                }
                });

          }
        {% endfor %}

      });

      function edit_form(id) {
        var url = '{% url "frontend:editevent" 555 %}'
        url = url.replace('555', id);

        $.post(url, {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(htmlResponse) {
            var parent = document.getElementById("more");
            $("#more").removeClass("hidden");

            htmlResponse = htmlResponse.replace('/change_event_id/', '/'+id+'/');
            parent.innerHTML = htmlResponse;
            $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
        });
      }

      function rsvp(id) {
        var parent = document.getElementById("rsvp_"+id);
        $.post('{% url "frontend:addrsvp" %}', {'rsvp_id':id, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(json) {
            var json_parsed = $.parseJSON(json);
            if(json_parsed.success == 'true') {
              location.reload();
            }
        });
      }

      function updateNotifications(){
            var parent = document.getElementById("notifications");
            var html = "";
            var has_new = false;
            {% for i in invites %}
            if ('{{i.is_new}}' == "True") {
              $(".dropdown-toggle").addClass("red");
            }
            html +=  "<li> {{i.event.name}} </li>"
            {% endfor %}
            parent.innerHTML = html;
         }
      $(".dropdown-toggle").click(function(){
        $(this).removeClass("red");
        $.post('{% url "frontend:removenew" %}', {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(html){
          var json_parsed = $.parseJSON(json);
          if(json_parsed.success == 'true') {
            
          }
        });        
      });

    </script>   
</body>
</html>
