<html>
<head>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>{% load staticfiles %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="{% static "frontend/bootstrap.js" %}"></script>

    <link rel="stylesheet" href="{% static "frontend/bootstrap.min.css" %}" type="text/css"> 
    <link rel="stylesheet" type="text/css" href="{% static "frontend/style.css" %}" />

    <title>OC</title>
</head>
<body>
  <div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
      <div class="container">  
        <ul class="nav pull-left">  
          <li>  
            <a class="brand logo" href="{% url 'frontend:index' %}" >Princeton University - OC</a>  
          </li>
        </ul>
        <ul class="nav pull-right">  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> notification </li>
              <li> notification </li>
            </ul>
          </li>
          <li class=""><a href="#">{{user}}</a></li>  
          <li><a href="{% url 'frontend:settings' %}">Settings</a></li>  
          <li><a href="{% url 'frontend:logout' %}">Logout</a></li>  
        </ul>
      </div>
    </div>
  </div>
<div class="clear"></div>
  <div id="personal_container">
      <div class="clear"></div>
      <div id="personal_content">
        <div id="left">
         <div id="my_events">
              <div class="events_header"><p><b> Your Events: </b></p></div>
              <div class="list_group">

                {% for e in my_events %}
                <div class="events_item" id="{{e.id}}">
                  <p> {{ e.name }}
                        <a href="#" onclick="edit_form({{e.id}})"> Edit </a>
                        <a href="{% url 'frontend:rmevent' e.id %}">Remove</a> </p>
                </div>
              {% endfor %}
              </div>
          </div>
          <div id="rsvped">
            <div class="events_header"><p><b> Rsvped Events: </b></p></div>
            <div class="list_group">

              {% for e in rsvped %}

                <div class="events_item" id="{{e.id}}">
                <p> {{ e.name }}<a href="{% url 'frontend:rmrsvp' e.id %}">Remove</a></p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div id="recommended">
            <div class="events_header"><p><b> Recommended Events (Friends/Groups): </b></p></div>
            <div class="list_group">

              {% for e in recommended %}
                <div class="events_item" id="{{e.id}}">
                <p> {{ e.name }}</p>
              </div>
              {% endfor %}
          </div>
          </div>

          <div id="friends">
            <div class="friends_header"><p> <b>Friends:</b> </p></div>
             <div class="list_group">

              {% for f in friends %}
              <div class="friends_item">
                <p> {{ f.first_name }} <a href="{% url 'frontend:rmfriend' f.id %}">Remove</a></p>
              </div>
              {% endfor %}
            </div>

          </div>

          <div id="groups">
            <div class="groups_header"><p><b>Your existing groups:</b></p></div>
            <div class="list_group">

              {% for g in group_info %}
              <div class="groups_item">
                <p> {{ g.1 }} <a href="{% url 'frontend:rmgroup' g.0 %}">Remove</a></p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div id="right">
          <div id="more">
          </div>
          <div id="friends_form">
            <form action="/addfriend/" method="post">{% csrf_token %}
            <p><b> Add friend: </b> </p>
            {{ form2.name }}
            <input type="submit" value="Submit" />
            </form>
          </div>
          <div id="groups_form">
            <form action="/addgroup/" method="post">{% csrf_token %}
            <p><b> Add group: </b> </p>
            {{ form.as_p }}
            <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        names = []

        {% for u in other_users %}
          names.push("{{u.user_id}}");
        {% endfor %}
        $("#id_name").autocomplete({
          source: names
        });
      })

      $(".events_item").click(function() {
        $(".events_item").removeClass("active");
        $(this).addClass("active");

        var id = parseInt($(this).attr("id"));
        {% for e in events_list %}

          if (id == {{e.id}}) {
            $.post('{% url "frontend:personal_ajax" e.id %}', {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(htmlResponse) {
                var parent = document.getElementById("more");
                parent.innerHTML = htmlResponse;
            });
          }
        {% endfor %}
      });

      function edit_form(id) {

        {% for e in my_events %}
          if (id == {{e.id}}) {
            $.post('{% url "frontend:editevent" e.id %}', {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(htmlResponse) {
                var parent = document.getElementById("more");
                parent.innerHTML = htmlResponse;
            });
          }
        {% endfor %}
      }
    </script>   
</body>
</html>