<html>
<head>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>{% load staticfiles %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 
    <link rel="stylesheet" type="text/css" href="{% static "frontend/style.css" %}" />

    <title>OC</title>
</head>
<body>

  <div id="personal_container">
         <div class="logo" onclick="window.location.href='/'">
            <h1>Princeton University - OC</h1>
         </div>
         <div id="floatright">
            <div class="settings_buttons" onclick="window.location.href='/frontend/personal'">{{user}}</div>
            <div class="settings_buttons" onclick="window.location.href='/frontend/settings'">settings</div>
            <div class="settings_buttons" onclick="window.location.href='/'">logout</div>
         </div>
      <div class="clear"></div>
      <div class="clear"></div>
      <div id="personal_content">
        <div id="left">
         <div id="my_events">
              <div class="events_header"><p><b> Your Events: </b></p></div>
              <div class="list_group">

                {% for e in my_events %}
                <div class="events_item" id="{{e.id}}">
                  <p> {{ e.name }}
                        <a href="#" onclick="edit_form({{e.id}})"> Edit </a>
                        <a href="{% url 'frontend:rmevent' e.id %}">Remove</a> </p>
                </div>
              {% endfor %}
              </div>
          </div>
          <div id="rsvped">
            <div class="events_header"><p><b> Rsvped Events: </b></p></div>
            <div class="list_group">

              {% for e in rsvped %}

                <div class="events_item" id="{{e.id}}">
                <p> {{ e.name }}<a href="{% url 'frontend:rmrsvp' e.id %}">Remove</a></p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div id="recommended">
            <div class="events_header"><p><b> Recommended Events (Friends/Groups): </b></p></div>
            <div class="list_group">

              {% for e in recommended %}
                <div class="events_item" id="{{e.id}}">
                <p> {{ e.name }}</p>
              </div>
              {% endfor %}
          </div>
          </div>

          <div id="friends">
            <div class="friends_header"><p> <b>Friends:</b> </p></div>
             <div class="list_group">

              {% for f in friends %}
              <div class="friends_item">
                <p> {{ f.first_name }} <a href="{% url 'frontend:rmfriend' f.id %}">Remove</a></p>
              </div>
              {% endfor %}
            </div>

          </div>

          <div id="groups">
            <div class="groups_header"><p><b>Your existing groups:</b></p></div>
            <div class="list_group">

              {% for g in group_info %}
              <div class="groups_item">
                <p> {{ g.1 }} <a href="{% url 'frontend:rmgroup' g.0 %}">Remove</a></p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div id="right">
          <div id="more">
          </div>
          <div id="friends_form">
            <form action="/addfriend/" method="post">{% csrf_token %}
            <p><b> Add friend: </b> </p>
            {{ form2.as_p }}
            <input type="submit" value="Submit" />
            </form>
          </div>
          <div id="groups_form">
            <form action="/addgroup/" method="post">{% csrf_token %}
            <p><b> Add group: </b> </p>
            {{ form.as_p }}
            <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    /*  $(".events_item").click(function() {
        $(".events_item").removeClass("active");
        $(this).addClass("active");

        var id = parseInt($(this).attr("id"));

        var parent = document.getElementById("more");
        var html = ""; 
        {% for e in rsvped %}
        var event_id = {{e.id}};
        if (event_id == id) {
          html += "{{e.name}}";
        }
        {% endfor %}
        {% for e in recommended %}
        var event_id = {{e.id}};
        if (event_id == id) {
          html += "{{e.name}}";
        }
        {% endfor %}
        parent.innerHTML = html;
      }); */

      $(".events_item").click(function() {
        $(".events_item").removeClass("active");
        $(this).addClass("active");

        var id = parseInt($(this).attr("id"));
        {% for e in events_list %}

          if (id == {{e.id}}) {
            $.post('{% url "frontend:personal_ajax" e.id %}', {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(htmlResponse) {
                var parent = document.getElementById("more");
                parent.innerHTML = htmlResponse;
            });
          }
        {% endfor %}
      });

      function edit_form(id) {

        {% for e in my_events %}
          if (id == {{e.id}}) {
            $.post('{% url "frontend:editevent" e.id %}', {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(htmlResponse) {
                var parent = document.getElementById("more");
                parent.innerHTML = htmlResponse;
            });
          }
        {% endfor %}
      }
    </script>   
</body>
</html>