<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>{% load staticfiles %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" type="text/css" href="{% static "frontend/settings.css" %}" />
</head>
<body>
    <header>
      <div class="logo" onclick="window.location.href='/#'"><h1>Princeton University - OC</h1></div>
      <div id="floatright">
      <div class="settings_buttons"
         onclick="window.location.href='/frontend/personal'">
         {{user}}
      </div>
      <div class="settings_buttons"
         onclick="window.location.href='/frontend/settings'">
         settings
      </div>
      <div class="settings_buttons"
         onclick="window.location.href='#'">
         logout
      </div>      
    </div>
    </header>
<div id="container"; height: 250px>
<form action="/settings/" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="id_first_name">First name:</label>
        {{ form.first_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label for="id_last_name">Last name:</label>
        {{ form.last_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.latitude.errors }}
        <label for="id_latitude">Default latitude:</label>
        {{ form.latitude }}
    </div>
    <div class="fieldWrapper">
        {{ form.longitude.errors }}
        <label for="id_longitude">Default longitude:</label>
        {{ form.longitude }}
    </div>
    <p><input type="submit" value="Save" /></p>
</form>
</div>
</body>
</head>
