<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>{% load staticfiles %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="{% static "frontend/bootstrap.js" %}"></script>

    <link rel="stylesheet" href="{% static "frontend/bootstrap.min.css" %}" type="text/css"> 
    <link rel="stylesheet" type="text/css" href="{% static "frontend/style.css" %}" />
</head>
<body>
  <div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
      <div class="container">  
        <ul class="nav pull-left">  
          <li>  
            <a class="brand logo" href="{% url 'frontend:index' %}" >Princeton University - OC</a>  
          </li>
        </ul>
        <ul class="nav pull-right">  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> notification </li>
              <li> notification </li>
            </ul>
          </li>
          <li class=""><a href="{% url 'frontend:personal' %}">{{user}}</a></li>  
          <li><a href="#">Settings</a></li>  
          <li><a href="{% url 'frontend:logout' %}">Logout</a></li>  
        </ul>
      </div>
    </div>
  </div>
<div id="container"; height: 250px>
<form action="/settings/" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="id_first_name">First name:</label>
        {{ form.first_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label for="id_last_name">Last name:</label>
        {{ form.last_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.latitude.errors }}
        <label for="id_latitude">Default latitude:</label>
        {{ form.latitude }}
    </div>
    <div class="fieldWrapper">
        {{ form.longitude.errors }}
        <label for="id_longitude">Default longitude:</label>
        {{ form.longitude }}
    </div>
    <p><input type="submit" value="Save" /></p>
</form>
</div>
</body>
</head>
