<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>{% load staticfiles %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="{% static "frontend/bootstrap.js" %}"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <!-- CSS and JS for our code -->
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/jquery-gmaps-latlon-picker.css' %}"/>
  <script src="{% static 'frontend/jquery-gmaps-latlon-picker.js' %}"></script>

    <link rel="stylesheet" href="{% static "frontend/bootstrap.min.css" %}" type="text/css"> 
    <link rel="stylesheet" type="text/css" href="{% static "frontend/style.css" %}" />
</head>
<body  onload="updateNotifications();">

  <div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
      <div class="container">  
        <ul class="nav pull-left">  
          <li>  
            <a class="brand logo" href="{% url 'frontend:index' %}" >OC</a>  
          </li>
        </ul>
        <ul class="nav pull-right">  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="notifications">
            </ul>
          </li>
          <li class=""><a href="{% url 'frontend:personal' %}">{{user}}</a></li>  
          <li><a href="#">Settings</a></li>  
          <li><a href="{% url 'frontend:logout' %}">Logout</a></li>  
        </ul>
      </div>
    </div>
  </div>

  <div id="personal_container">
      <div class="clear"></div>
      <div id="personal_content">

<div id="container">
<form action="/settings/" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="id_first_name">First name:</label>
        {{ form.first_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label for="id_last_name">Last name:</label>
        {{ form.last_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.latitude.errors }}
        <label for="id_latitude">Default latitude:</label>
        {{ form.latitude }}
    </div>
    <div class="fieldWrapper">
        {{ form.longitude.errors }}
        <label for="id_longitude">Default longitude:</label>
        {{ form.longitude }}
    </div>

<!-- Google Latitude/Longitude picker from http://www.wimagguc.com/projects/jquery-latitude-longitude-picker-gmaps/ -->
<fieldset class="gllpLatlonPicker">
  <input type="text" class="gllpSearchField">
  <input type="button" class="gllpSearchButton" value="Search">
  <div class="gllpMap">Google Maps</div>
  <input type="hidden" class="gllpLatitude" value="{{form.latitude.value}}"/>
  <input type="hidden" class="gllpLongitude" value="{{form.longitude.value}}"/>
  <input type="hidden" class="gllpZoom" value="12"/>
</fieldset>


<br/><button class="btn" type="submit" value="Save">Save</button>
</form>
</div>

      </div>
  </div>

<script type="text/javascript">
 $(".gllpLatitude").change(function(){
    $("#id_latitude").val($(".gllpLatitude").val());
 });

 $(".gllpLongitude").change(function(){
    $("#id_longitude").val($(".gllpLongitude").val());
 });

       function updateNotifications(){
            var parent = document.getElementById("notifications");
            var html = "";
            var has_new = false;
            {% for i in invites %}
            if ('{{i.is_new}}' == "True") {
              $(".dropdown-toggle").addClass("red");
            }
            html +=  "<li class='notification_item'> {{i.event.name}} </li>"
            {% endfor %}
            if (html == "") html +=  "<li class='notification_item'> None :( </li>";
            parent.innerHTML = html;
         }
      $(".dropdown-toggle").click(function(){
        $(this).removeClass("red");
        $.post('{% url "frontend:removenew" %}', {'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(html){
          var json_parsed = $.parseJSON(json);
          if(json_parsed.success == 'true') {
            alert("success");
          }
        });        
      });
</script>

</body>
</head>
