    <h4> {{ event.name }} </h4>
    <div class="show_event_item">
        <b>Start date & time: </b>
        <span> {{ event.startTime }} </span>
    </div>
    <div class="show_event_item">
        <b>End date & time: </b>
        <span> {{ event.endTime }} </span>
    </div>
    <div class="show_event_item">
        <b>Location: </b>
        <span> {{ event.location }} </span>
    </div>
    <div class="show_event_item">
        <b>Description: </b>
        <span> {{ event.description }} </span>
    </div>
    <div class="show_event_item">
        <b>Private: </b>
        <span> {{ event.private }} </span>
    </div>
    <div class="show_event_item">
        <b>Groups: </b>
        <span> {{ event.groups.name }} </span>
    </div>
    <div class="show_event_item">
        <b>Tags: </b>
        <span>
    {% for tag in event.tags.all %}
     {{ tag.name }}
    {% endfor %}
    </span>
    </div>

    <form action="{% url 'frontend:invite' %}" method="post" id="inviteform" class="form-horizontal">{% csrf_token %}
    <div class="hidden"> {{invite_form.event}}
    {{invite_form.inviter}} </div>
    <b>Invite: </b>
    {{invite_form.invitee}}
    <button class="btn" type="submit">Send</button>
    </form>
    <form action="{% url 'frontend:inviteall' event.id %}" method="post">{% csrf_token %}
    <button class="btn" type="submit">Invite all friends</button>
    </form>
