    <div class="fieldWrapper">
        <label for="id_name">Name:</label>
        {{ event.name }}
    </div>
    <div class="fieldWrapper">
        <label for="id_startTime">Start date & time: </label>
        {{ event.startTime }}
    </div>
    <div class="fieldWrapper">
        <label for="id_endTime">End date & time: </label>
        {{ event.endTime }}
    </div>
    <div class="fieldWrapper">
        <label for="id_location">Location: </label>
        {{ event.location }}
    </div>
    <div class="fieldWrapper">
        <label for="id_private">Private: </label>
        {{ event.private }}
    </div>
    <div class="fieldWrapper">
        <label for="id_groups">Groups: </label>
        {{ event.groups }}
    </div>
    <div class="fieldWrapper">
        <label for="id_tags">Tags: </label>
        {{ event.tags }}
    </div>