    <div id="time-slider"></div>
    <span id="SlideMax"></span>
    <br/><span id="time"></span></br>
    <script>
      var startTime;
      var endTime;
      $( "#time-slider" ).slider({
        // 15 minute increments for up to 24-hours
        range: "min",
        value: 720,
        min: 15,
        max: 1455, // extra 15 min for full 24 hours
        step: 15,
        slide: slideTime
      });

      function slideTime(event, ui){
        var val = $("#time-slider").slider("value"),
        startTime = getTime(0);
        endTime = getTime(parseInt(val, 10));
        $("#time").text(startTime + ' - ' + endTime);
      }

      function getTime(plus_min) {
        var time = null;
            currDate = new Date();
            hours = currDate.getHours();
            minutes = Math.floor(currDate.getMinutes()/15)*15;
        minutes = minutes + plus_min;
        if (minutes >= 60) {
          hours = hours + Math.floor(minutes/60);
          minutes = minutes % 60;
        }
        minutes = minutes + "";
        if (hours >= 24) { hours = hours - 24; }
        if (hours < 12) { time = "AM"; }
        else {  time = "PM"; }
        if (hours == 0) { hours = 12; }
        if (hours > 12) { hours = hours - 12; }
        if (minutes.length == 1) { minutes = "0" + minutes; }
        return hours + ":" + minutes + " " + time;
      }

      $("#scheduleSubmit").on('click', function(){
        console.log(startTime);
        console.log(endTime);
        $('#Schedule tbody').append('<tr>' +
            '<td>' + startTime + '</td>' +
            '<td>' + endTime + '</td>' +
            '</tr>');
      });
      
    </script>
    <a class="link_button_main" href="#" onclick="filter2('my_events')">Filter Time</a>