/*
 * style.css
 *
 * css stylesheet for the general html page
 */

#map-canvas { 
	position: absolute; 
	top: 65; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	z-index: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table td {
	padding: 2px 5px;
}

table td.list_time {
	white-space: nowrap;
}

tr.rowColor {
	background-color: rgba(0,102,51,0.1);
}

h1 {
	/* font-weight: bold; */
	font-size: 20px;
	line-height: 32px;
	color: #fff;
	padding: 0;
	margin: 3px 30px 10px;
	text-align: right;
	border-bottom: 1px solid #fff;
	text-shadow: 0px 0px 5px rgba(0,0,0,.9);
}

h3 {
	font-weight: normal;
	color: #006633;
	padding: 0;
	margin: 0;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
}

header {
	padding: 10px 10px 10px 10px;
	position: absolute; top: 0; left:0;
	width: 100%;
	background: -webkit-linear-gradient(#009900 0%, #006633 100%);
	z-index: 100;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);	
}

div#side_panel{
	position: absolute;
	top: 100px;
	right: 25px;
	width: 15%;
	height: 75%;
	float: right;
	background: #f9f9f9;
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	box-sizing: border-box;
	z-index: 1;
	overflow:scroll;
}

div#make_button{
	left: 25px;
}

div#calendar_button{
	left: 120px;
}

div#list_button{
	left: 265px;
}

div#minus_button{
	left: 350px;
}

.button {
	position: absolute;
	bottom: 20px;
	float: right;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	box-sizing: border-box;
	z-index: 1;
}

.button:hover{
	background-color: rgba(255,255,255,1);
}

.hidden {
	display: none;
}

.visible {
	position: absolute;
	top: 100px;
	left: 25px;
	width: 75%;
	height: 75%;
	/*width: 20%; */
	float: right;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	box-sizing: border-box;
	z-index: 1;
}

div#list_content{
	overflow:scroll;
	padding: 25px;
}

div#make_content{

}

div#calendar_content{

}

div#time_slider {
	position: absolute;
	bottom: 0;
	padding: 10px;
}

div#content_wrapper h3 {
	border-bottom: 1px solid #000;
	line-height: 32px;
	padding: 5px;
}

div#links h3 {
	color: #333;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	margin-bottom: 0px;
}
