<html>
<head>
    <title>COS 333</title>
</head>
<body>
<h1>COS 333: OC Timeline</h1>
<h6><a href="fancytimeline.html">Click here</a> for a fancier version.</h6>
<hr/>
<h3>3/11/2013</h3>
Met to start design doc and discuss technologies, functionality, design. We decided to focus on a web application, using Django, MySQL, and Javascript.
<hr/>
<h3>3/17/2013</h3>
Finished design doc and created a couple simple mockups of the UI. Set up private github repo.
<hr/>
<h3>3/28/2013</h3>
Decided to use Heroku (instead of AppEngine or myCpanel) because it supports Django. Made Heroku accounts, downloaded/installed everything necessary to make the "Hello World" django app on Heroku. Added everybody to the private github account (however, since Heroku uses git, is it necessary to have a separate repo on Github?). Emailed USG IT committee about getting USG calendar data.
<hr/>
<h3>3/30/2013</h3>
HackPrinceton! Learned Django, and figured out how Heroku works. Decided to postgres instead of mysql because that was the default for Heroku (MySQL would require an addon). Set up some test database tables. Made a simple test interface based on mockups in design doc. Looked into Google Maps API: shouldn't be hard to do what we need (basically just set clickable markers). However, we're not exactly sure what the best way of going from building names to latlong coordinates is (looked into geocode). But, given the many Princeton apps that use campus maps, this should be doable. Made a form for adding events (communicate with backend).
<hr/>
</body>
</html>
